

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1px;
    section{
     height: 100%;
     flex-grow: 1;
     background-size: cover;
    background-position: center;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
     
    
    }
    section:hover{
        flex-grow: 3;
       
    }
    section:nth-child(1){
        background-image: url(./section1.jpeg);
        

    }
    section:nth-child(2){
        background-image: url(./section2.jpeg);
        

    }
    section:nth-child(3){
        background-image: url(./section3.jpeg);
        

    }
    section:nth-child(4){
        background-image: url(./section4.jpeg);
    }
    section:nth-child(5){
        background-image: url(./section5.jpeg);
        }
    

}